html, body{
    margin: 0;
}

.header{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#8eba3e;
    color: white;
    height: 170px;
    width: 700px;
}

.textbox1{
    margin: auto;
    position:relative;
    height: 430px;
    width: 700px;
}

.hiStranger{
    padding: 20px 70px 20px 70px;
}

.wrapper{
    text-align: center;
}

button{   
    width: 280px;   
    padding: 15px;   
    margin: 10px;
    border-radius: 5px;
    color: white;   
    border: none;
    background-color: #8eba3e;
}   

a{
    color: green;
    text-decoration: none;
}

.footer{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color:#e9e9e9;
    height: 70px;
    padding-top: 10px;
}
